<div class="container mh-100vh px-4">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-sm-12">
      <div class="text-center">
        <img class="img-fluid img-thumbnail rounded mx-auto" src="../assets/img/profile.jpeg" alt="Profile picture" height="30%" width="30%">
      </div>

      <div class="mt-5 bg-secondary p-3 rounded">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <h1 class="">Nery Brugnoni</h1>
            <h3 class="">Senior.NET Developer</h3>
          </div>
          <div class="col-md-3 col-sm-12">
            <ul class="list-unstyled">
              <li><a target="_blank" href="https://www.google.com/maps/place/Rosario,+Santa+Fe+Province/@-32.9522093,-60.6966395,12z/data=!3m1!4b1!4m5!3m4!1s0x95b6539335d7d75b:0xec4086e90258a557!8m2!3d-32.9587022!4d-60.6930416">Rosario, Argentina</a></li>
              <li><a target="_blank" href="https://wa.me/+5493537332873">+5493537332873</a></li>
              <li><a target="_blank" href="mailto:nery.brugnoni@gmail.com">nery.brugnoni@gmail.com</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-12">
            <ul class="list-unstyled">
              <li><a target="_blank" href="https://brugner.azurewebsites.net">brugner.azurewebsites.net</a></li>
              <li><a target="_blank" href="https://linkedin.com/in/brugner">linkedin.com/in/brugner</a></li>
              <li><a target="_blank" href="https://github.com/brugner">github.com/brugner</a></li>
            </ul>
          </div>
        </div>

        <p class="text-justify">
          As a skilled C# software developer with over 7+ years of experience and a college degree, I have a good
          understanding of OOP principles, design patterns, and agile methodologies, which allows me to deliver highquality solutions. I am a team player focused on the customer's needs and in constant training.
          <b>To put it bluntly, I get things done.</b>
        </p>
      </div>

      <div class="mt-5">
        <h2 class="">Skills <span class="smaller">(from more to less)</span></h2>
        <p>
          C#, .NET, OOP, clean code, Visual Studio, API REST, design patterns, EF, Dapper, SQL, Angular, Typescript, Git, Azure Portal, Azure DevOps, Unit testing, xUnit, Moq, Docker.
        </p>
      </div>

      <div class="mt-5">
        <h2 class="">Languages</h2>
        <ul class="list-unstyled">
          <li>Spanish: Native</li>
          <li>English: C1 Advanced (FIRST 2022)</li>
        </ul>
      </div>

      <div class="mt-5">
        <h2 class="">Experience</h2>

        <div>
          <h4>.NET Developer @ CloudX <span class="smaller">(Apr 2022 - Present)</span></h4>
          <ul class="text-justify">
            <li>Bug fixing and maintenance for a healthcare product developed with .NET 6 microservices and Angular. Use of technologies and tools such as Azure DevOps, CI/CD, xUnit, Moq and Entity Framework.</li>
            <li>Design and implementation of a POC cloud based solutionto integrate a restaurant with Pedidos Ya and WhatsAppusing Azure Service Bus, Web APIs and BackgroundServices.</li>
          </ul>
        </div>

        <div class="mt-5">
          <h4>Senior .NET Developer @ Globant <span class="smaller">(Feb 2020 - Mar 2022)</span></h4>
          <ul class="text-justify">
            <li>US development and bug fixing for one of the biggest tax management company worldwide.</li>
            <li>Backend Focal Point and training to become Tech Lead.</li>
            <li>Responsible for the implementationof an abstraction layer for Redis and InMemory cache.</li>
            <li>Responsible for the design and implementation of a generic roles management API.</li>
          </ul>
        </div>

        <div class="mt-5">
          <h4>Software Developer @ Oversoft <span class="smaller">(Aug 2015 - Jan 2020)</span></h4>
          <ul class="text-justify">
            <li>Responsible for the design and development of applications that communicate the main product with systems and interfaces of automakers such as Volkswagen, Mercedes Benz, Toyota and IVECO.</li>
            <li>Development and implementation of new functionalities and bug fixing in the legacy products.</li>
            <li>Participation in the analysis design and development of the new flagship product implementing an architecture based on microservices and Agile methodologies. Architecture team member. Technologies used: NET Core API, SQL
              Server, Redis, Elasticsearch, Entity Framework, Swagger, TFS and Git. In charge of the branching policy, IIS deployments and the documentation blog.</li>
            <li>Designer of a Windows Service that periodically sends information from 40 customers to Toyota Argentina, using NET, SQL Server and AutoMapper.</li>
            <li>Designer of a Windows Service and ASP.NET WCF services that hold a full-duplex communication with Volkswagen AG. In charge of tech lifecycle from requirements to testing.</li>
            <li>Implement best practices and design patterns to create a maintainable architecture.</li>
          </ul>
        </div>
      </div>

      <div class="mt-5">
        <h2 class="">Education</h2>
        <ul class="text-justify">
          <li>Computer Science @ Universidad Nacional de Villa María (Nov 2019)</li>
          <li>Computer Systems Analyst @ Instituto Leibnitz (Apr 2015)</li>
        </ul>
      </div>

      <div class="mt-5">
        <h2 class="">Certifications</h2>
        <ul class="text-justify">
          <li>AZ-900: Azure Fundamentals (2022)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 text-center mt-5">
      <a href="https://1drv.ms/b/s!Aix1fjHdU-ywg6Y_2oZs4t4CHufiZg" target="_blank" class="btn btn-primary">Download CV as PDF</a>
    </div>
  </div>
</div>
