.text-smallcaps {
  font-variant: small-caps !important;
}

.text-justify {
  text-align: justify;
}

.mh-100vh {
  min-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.smaller {
  font-size: 60%;
}
