<div class="container mh-100vh px-3">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12 offset-sm-0">
      <div class="text-center mt-5">
        <h1 class="text-smallcaps">{{title}}</h1>
        <p>{{text}}</p>
        <img src="{{imageSrc}}" alt="A rocket" width="300" height="300">

        <br>

        <a routerLink="/about-me" class="btn btn-primary mt-3">
          <span class="btn-label"><i class="bi bi-house"></i></span>
          Take me home
        </a>
      </div>
    </div>
  </div>
</div>
