<div class="container mh-100vh px-3">
  <div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12 offset-sm-0">
      <div class="text-justify mt-5">
        <h1 class="text-center text-smallcaps">Change password</h1>
      </div>

      <form [formGroup]="changePwdForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="currentPwd">Current password</label>
          <input name="currentPwd" type="password" class="form-control" formControlName="currentPwd" [ngClass]="{ 'is-invalid': isSubmitted && currentPwd?.errors }" autocomplete="current-password" required>
          <div *ngIf="isSubmitted && currentPwd?.errors?.['required']">
            <span class="text-danger">Current password is required</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="newPwd">New password</label>
          <input name="newPwd" type="password" class="form-control" formControlName="newPwd" [ngClass]="{ 'is-invalid': isSubmitted && newPwd?.errors }" required minlength="6" maxlength="50">
          <div *ngIf="isSubmitted && newPwd?.errors?.['required']">
            <span class="text-danger">New password is required</span>
          </div>
        </div>

        <div class="mb-3">
          <label for="repeatNewPwd">Repeat new password</label>
          <input name="repeatNewPwd" type="password" class="form-control" formControlName="repeatNewPwd" [ngClass]="{ 'is-invalid': isSubmitted && repeatNewPwd?.errors }" required minlength="6" maxlength="50">
          <div *ngIf="isSubmitted && repeatNewPwd?.errors?.['required']">
            <span class="text-danger">Repeat new password is required</span>
          </div>
          <div *ngIf="isSubmitted && repeatNewPwd?.errors?.['notMatch']">
            <span class="text-danger">Passwords don't match</span>
          </div>
        </div>

        <div class="mb-3">
          <div *ngIf="error" class="text-danger">
            <span>{{ error }}</span>
          </div>
        </div>

        <div class="mb-3 text-end d-grid gap-2">
          <button type="submit" [disabled]="isLoading || changePwdForm.invalid" class="btn btn-primary btn-block">Change</button>
        </div>
      </form>
    </div>
  </div>
</div>
